a{
    color: #ffffff;
}
  
header{
    width: 100%;
    height: 20px;
    background-color: #222222; 
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 0.5%;
}header p{
    display: inline-block;
    margin: 0 75px;


}
/*Seção principal do conteudo*/
.conteudo-principal{

    background: linear-gradient(180deg, #343434 0.1%,  #005C99 50.84%);
    position: relative;
    width: 100%;
    height: 667px;

}section div{
    display: inline-block;
}.texto-principal{
    position: absolute;
    top: 16%;
    left: 335px;
    width: 400px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;

    letter-spacing: 0.05em;

    color: #ffffff;
}.texto-principal p{
    margin-top: 20px;
}
.imagem{
    position: absolute;
    width: 300px;
    height: 400px;
    top: 10%;
    right: 20%;
}.botoes{
    position: absolute;
    width: 450px;
    height: 56px;
    top: 460px;
    left: 335px;

}.conteudo-principal button{
    width: 150px;
    height: 45px;
    border-radius: 25px;
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 25px;
    line-height: 18px;
    font-style: none;
    border-style: none;
}button a{
    font-style: none;
}

.butao-git{

    padding: 10px 15px;
    background: #111111;
    margin-left: 35px;
    transition: 0.5s all;
    
}.butao-linke{
    background: #007AB9;
    transition: 0.5s all;
    padding: 10px 15px;
}.butao-git:hover, .butao-linke:hover{
    transform: scale(1.2);
    cursor:pointer;
}.butao-git:hover{
    background: #000;
}.butao-linke:hover{
    background-color: #00476a;
}
/*Seção dos projetos*/
#conteudo-projetos{
    background-color: #005C99 ;
    width: 100%;
    height: 667px;
}.titulo-seçao{
    color: #ffffff;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
}
.projetos-figma{
    width: 500px;
    height: 500px;    
    position: absolute;
    left: 4%;
    top:  830px;
    background-color: #B0CCDF;

}.titulo-de-projeto{
    color: #000;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px; 
    line-height: 35px;
    text-align: center;
    
}.projetos-programação{
    width: 700px;
    height: 500px;
    position: absolute;
    right: 4%;
    top:  830px;
    background-color: #B0CCDF;
    
}.projetos-figma, .projetos-programação{
    border-radius: 25px;
    box-shadow: 10px 10px 4px 0px #00000040;
    display: inline-block;

}.figma{
    border-radius: 25px;
    margin-left: 25px;
}.container{
    
    position: relative;
    padding: 15px;
    width: 670px;
    height: 80%;
    margin: 0 auto;
    padding: auto;
    
    background-color: #000;

}.galeria-wrapper{
    overflow-x: auto;
    width: 635px;
    height: 400px;
    margin: 2.5%;
    padding: auto;
}

.galeria-wrapper::-webkit-scrollbar{
    display: none;
}

.galeria-wrapper{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Arrow-left, .Arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background: linear-gradient(to left, transparent 0%, white 200%);
    opacity: 0.1;
    transition: 0.5s all ease-in-out;

}

.Arrow-right{
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent 0%, white 200%);

}

.Arrow-left:hover,.Arrow-right:hover{
    opacity: 1;
}

.galeria{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.card{
    position:relative;
    margin-bottom: 25px;
    padding: 5px;
    flex-shrink: 0;
    width: 350px;
    height: 350px;
    background-color: #005C99;
    border-radius: 25px;
    border: none;
    box-shadow: 4px 4px 4px 0px #00000040;
    opacity: 0.3;
    color: #fff;
    font-size: 19px;
    line-height: 22px;


}.card button{
    width: 200px;
    height: 40px;
    margin-left: 75px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #011624;
    text-transform: uppercase;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700px;
    color: #fff;
    transition: 1s all ease-in-out;
}
.card button:hover{
    background-color: #fff;
    color: #011624;
    transform: scale(1.2);
}

.card-image{
    width: 345px;
    height: 190px;
    border-radius: 10px;
    margin: 2.5px;
}
.card img{
    width: 345px;
    height: 190px;
    border-radius: 10px;
    
    
}    
.current-card{
    opacity: 1;
}
/*seção  de Certificados*/